body {
    margin: 0;
    padding: 0;
    background: whitesmoke;
    background-size: cover;
    font-family: 'Roboto', Arial, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Dropdown Styles */
.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
z-index: 1;
right: 0; /* Align dropdown to the right */
top: 100%; /* Position dropdown below the icon */
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}

.centered-text {
    position: absolute;
    top: 800%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #140650;
    font-size: 40px;
    font-family: 'Roboto', Arial, sans-serif;
}

.name-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-wrapper {
    flex: 1;
    margin-right: 10px;
}

.input-wrapper label {
    display: block;
}

.input-wrapper input {
    width: 100%;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-dropdown-container {
    display: flex;
    align-items: center;
}

#logo img {
    max-width: 100%;
    height: auto;
    margin-right: 10px; /* Add margin to create space between the logo and the dropdown icon */
}

#dropdown-icon {
    cursor: pointer;
    font-size: 24px;
    color: #140650;
}


#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

#dropdown:hover #dropdown-content {
    display: block;
}

#dropdown-content button {
    display: block;
    width: 100%;
    padding: 10px 12px;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#dropdown-content button:hover {
    background-color: #ddd;
}

#buttons {
    text-align: right;
}

#buttons button {
    margin-left: 6px;
    background-color: #140650;
    color: #FFFFFF;
    border: 1px solid #2E6DA4;
    border-radius: 4px;
    padding: 6px 20px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
}

.signup-heading {
    text-align: center;
    color: #140650;
    font-size: 24px;
    margin-bottom: 20px; /* Add margin below the heading */
}

form {
    text-align: center;
    /*background: rgba(255, 255, 255, 0.2);*/
    background: #7CC623;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px; /* Increase the max-width to allow more space for the form */
    margin: 100px auto 0; /* Add margin to the top to push the form down */
}

form label {
    display: block;
    color: #140650;
    margin-bottom: 8px;
}

form input {
    width: 100%;
    padding: 6px;
    margin-bottom: 8px;
    box-sizing: border-box;
}

form textarea {
    width: 100%; /* Make the textarea width 100% */
    padding: 6px; /* Adjust padding as needed */
    margin-bottom: 8px;
    box-sizing: border-box;
}

form button {
    background-color: #140650;
    color: #FFFFFF;
    border: 1px solid #2E6DA4;
    border-radius: 4px;
    padding: 6px 20px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #buttons {
        text-align: center;
        margin-top: 10px;
    }

    #buttons button {
        margin: 6px;
    }
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #a94442;
}
.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}
.has-error .form-control-feedback {
  color: #a94442;
}



footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}